.City {
  padding: 20px 10px 20px 10px;
}
.city-name {
  font-size: 32px;
}
.btn {
  border-color: #38598b;
  color: #38598b;
}
.btn:hover {
  background-color: #ebf1fe;
  color: #38598b;
}
.current-temp {
  color: #38598b;
  font-size: 100px;
  font-weight: 400;
  line-height: 1;
  padding-left: 5px;
}
.units {
  position: relative;
  top: -58px;
  margin-left: 10px;
  color: #38598b;
}

.icon {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  color: #38598b;
}
.humidity {
  margin: 10px 0 0 10px;
}
.wind {
  margin: 0px 0 0 10px;
}
